<script src="<mt:var name="static_uri">plugins/ContentFieldTypeEmailReact/dist/index.js?v=<mt:var name="mt_version_id" escape="url">"></script>
<script>
  jQuery(() => {
    ContentTypeEditor.registerCustomType("email", mountEmailReact);
  });
</script>
